@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
/* First Section */

.first-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: #f8e4e8;
    padding: 0 200px;
}
.first-section-content{
    max-width: 900px;
}
.first-section-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}
.first-section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.first-section-img img{
    max-width: 400px;
    margin-bottom: 0px;
}

/* Our Featured Flowers */
.our-featured-flowers{
    margin-top: 100px;
    margin-bottom: 100px;
}
.flower-section{
    flex: 1;
}
.flower-content{
    text-align: center;
    width: 600px;
    margin: auto;
}
.flower-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.flower-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.image-description{
    text-align: center;
    text-decoration: underline;
}
.image-info-1{
    height: 538px;
    padding: 0px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
}
.image-info-1 img{
    width: 250px;
}
.image-info-2{
    height: 538px;
    padding: 0px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;
}
.image-info-2 img{
    width: 250px;
}
.image-info-3{
    height: 538px;
    padding: 0px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
}
.image-info-3 img{
    width: 250px;
}

/* support-system */
.support-system{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 200px;
    padding: 30px 0;
}
.support-system-content img{
    width: 50px;
}

/* hot-deal */
.hot-deal-section{
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 110px 200px;
    padding: 50px 0;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-span{
    color: #E55473;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.hot-deal img{
    max-width: 200px;
}

/* instagram-section */
.instagram-section{
    margin: 100px 100px;
}
.instagram-section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.instagram-section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.instagram-section-content{
    display: flex;
    gap: 10px;
    margin: auto;
    text-align: center;
}
.instagram-section-content-img{
    width: 250px;
    margin: auto;
}

/* latest-deal */
.latest-deal{
    background-image: url('../FlowerAsset/Rectangle9.png');
    background-repeat: no-repeat;
    margin: 0 100px;
    background-size: cover;
}
.latest-deal-content{
    text-align: center;
    padding: 100px 0;
}
.latest-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.latest-deal-input input{
    padding: 20px 100px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}

/* contact-us-content */
.contact-us{
    background-color: #f8e4e8;
}
.contact-us-column{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    padding: 20px 0;
}
.contact-us-content{
    text-align: center;
}
.contact-us-content img{
    width: 400px;
    margin-top: 20px;
}
.contact-us-description{
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #fff;
    border: 0;
    width: 100%;
}

footer{
    text-align: center;
    background: #111010;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-section-title{
    font-size: 48px;
    font-weight: 800;
    color: white;
}
.footer-section-title-span{
    color: #E55473;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    }